.THIS .slds-p-around_medium{

    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
   
}
.THIS .slds-p-left_medium {
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 20px;

}
/* added by ravi on 01/01/2020 */
.THIS .slds-p-right_small{
   padding-left: 12px;
} 
.THIS .slds-p-around_small {
    padding-top: 0px;
    padding-bottom: 0px;

}
.THIS .slds-button{
    /*BEGIN: Added for US#335191 by Jagadeesh Bokam*/
    /*border-right-width: 50px;
    border-left-width: 50px;*/
    border-right-width: 0px;
    border-left-width: 0px;
    /*END: Added for US#335191 by Jagadeesh Bokam*/
  	

}
.THIS .slds-modal__container{width: 70%;max-width: 75rem !important;width:75% !important; margin: 0px auto;}
.THIS .lower { 
    text-transform: none;

    width: 100%;
}
.THIS .modal-dialog {width: 100%; }
.THIS .boxshadow{border-radius:3px;background:#fff;box-shadow:0 0px 1px 0 rgba(0,0,0,.5)}
/*BEGIN: Added for US#335191 by Jagadeesh Bokam*/
.THIS .submit-button{font-size:1.15rem;font-weight:400;line-height:2.75;background: #76d5d4; width: 200px; border: none;text-transform: none; color: #000;}
/*END: Added for US#335191 by Jagadeesh Bokam*/
.THIS .slds-required.firstAsterisk{margin-left:-.74em}
/* Removed by Guru
.THIS .record-label+p{color:#4f5759}
.THIS .record-label{font-size:.88rem;margin-bottom:.2rem;color:#000}*/

/* Add by Guru US 319250 */
.THIS .record-label+p{color:#333}
.THIS .record-label{font-size:.88rem;margin-bottom:.2rem;color:#333}


.THIS .slds-required:not(.firstAsterisk){display:none}.THIS label.record-label{display:flex}

.THIS .slds-skip{
   color: #000000
}
/* added by Maddileti for bug 135296 on 11/02/2020  */
@media (min-width: 1200px) {
  .THIS .modal-dialog {width: 40%; margin: 0px auto; }
 .THIS .lower { 
    text-transform: none;
    padding-left: 10px;
    padding-right: 10px;
    border-right-width: 0px;
    border-left-width: 0px;
    width: 41%;
    color: #000;
   /* background-color: #76d5d4; */
    border: none;
} 
}

/* Add by Guru US 319250 */
/* Below is the new code to be included*/
.THIS ol { list-style: none;  counter-reset: my-awesome-counter; } 

.THIS ol li { counter-increment: my-awesome-counter; padding: 0  0 5px 0; } 

.THIS ol li::before { content: counter(my-awesome-counter) ". "; } 

.THIS p { hyphens: none !important;} 

/*BEGIN-Added for the Defect #388309 :Jagadeesh Bokam*/
.THIS a {color: #BF0366;}
/*END-Added for the Defect #388309 :Jagadeesh Bokam*/

.THIS ul li { list-style-type: disc; margin-left: 20px; padding: 0 0 5px 0; } 

.THIS .extra-info { font-style: italic; display:block;} 

.THIS h3 {  padding-bottom: 20px;  } 

.THIS h4 { margin-top: 20px;padding-bottom: 10px; text-transform: uppercase; font-size: 14px !important; color: #666666; }
.THIS .Fif{
    color: rgb(194, 57, 52); 
    font-family: Open Sans;
        font-size: 12px;
     font-weight: bold;
}

/* Added for Submit, Yes Skip 399187 */

.THIS .slds-button_brand{
    background-color: #76D5D4;
}

.THIS .submit-button:hover, .THIS .submit-button:focus {
background-color: #50AAA9;
border-color: #52d6d5; 
box-shadow: 0 0 0 0.2rem rgb(110 196 196 / 50%);
}

/* Ended for Submit, Yes Skip 399187 */