/* hide labels so they are hidden but still accessible */
.THIS .form-element__label {
    display: none;
}

/* hide help button if agent is offline */ 
.THIS .embeddedServiceHelpButton .helpButton .uiButton.helpButtonDisabled {
    display: none;
}

/* chat general styling */

.THIS#pcxPreChat {
    height: 100%;
}

.THIS .embeddedServiceSidebarForm .fieldList {
    padding-bottom: 0;
}

.THIS .embeddedServiceSidebarButton {
    background: #d86018;
}

.THIS .embeddedServiceSidebarButton:hover, .THIS.embeddedServiceSidebarButton:focus {
    background: #c44405;
}