/**
 * peak_lightning - Generates the assets used for Peak Lightning
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.font-specialty-title {
  font-family: 'Georgia', serif !important;
  font-weight: 700 !important;
  font-style: italic !important;
}
