.THIS .slds-page-header__title{
    
    padding-bottom: 20px;

}
.THIS .slds-grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.THIS .table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.THIS .td, .THIS .th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}