/*Commented by Ravi Bug #135343
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');*/
/*BEGIN: Added for US#335191 by Jagadeesh Bokam*/
.THIS{font-size:.75rem;padding:1.5rem 0;/*color:#fff*/color:#000;/*background-color:#3f3f3f*/background-color:#FAFAFA;/*Added for #392131 by Jagadeesh Bokam*/margin-top: -30px;}
.THIS hr{opacity:1.25}.THIS a,.THIS a:active,.THIS a:hover,.THIS a:visited{/*color:#fff*/color:#000}.THIS .metaLinks a{margin:0 .75rem}.THIS ul.bottomLinks li{display:inline-block}@media screen and (max-width:47.9375em){.THIS{line-height:2}.THIS .copyright,.THIS .metaLinks{text-align:center}.THIS .metaLinks a{display:block}}
/*END: Added for US#335191 by Jagadeesh Bokam*/
/*Added for BUG #396187 by Mohammad Shaik / Jagadeesh Bokam*/
.THIS .metaLinks a {
    font-weight: bold;
}
.THIS .slds-medium-size_5-of-12 {
    font-weight: bold;
}
/*END: Added for BUG #396187 by Mohammad Shaik / Jagadeesh Bokam*/